<article id="meetingDetailListPage" class="fullsize page">
			<div  class="container">
				<div class="row well customeComponent">
					<h2 class="pageHeading">Query the Meeting</h2>
					<div class="form-group ">
						<label for="meetingList">Meeting List</label>
						<div class="row">
						 <div class="col-md-6"><input type="date" class="form-control" id="meetingList" placeholder="Enter Meeting Date" name="meetingList"></div>
						 <div class="col-md-6"><button type="submit" class="btn btn-default">Show Meeting</button></div>
					 </div>

					</div>
					<div class="form-group showMettingLsit table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<td>Meeting Organizer</td>
									<td>Meeting Name</td>
									<td>Meeting Start</td>
									<td>Meeting End</td>
									<td>Meeting Location</td>
							 </tr>
							</thead>
							<tbody>
								<tr>
									<td>Naveen</td>
									<td>About the model push in prod </td>
									<td>6/14/2017 11:42</td>
									<td>6/14/2017 8:12</td>
									<td> in the Meeting room 5 and 6</td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>
			</div>
		</article>