		<article id="home" class="fullsize page">
			<div class="container">
					<div class="row todayDetail">
						<h2 style="display:none">Work List</h2>
						<div class="col-md-6">
							<h3 class="heading">Today Meeting</h3>
								<div class="meetingLayout  ">
									<div class="meetingList well row customeComponent">
										<div class="meetingName col-md-12 setMargin">Support</div>
										<div clas="row setMargin">
											<div class="col-md-6 meetingRoomNumber">Meeting Number 6</div>
											<div class="col-md-6 meetingTime">6.30PM</div>
										</div>

										<div class="col-md-12 meetingDetail setMargin">This is tesing meetig please joint the meeting</div>
									</div>
									<div class="meetingList well row customeComponent">
										<div class="meetingName col-md-12 setMargin">Support</div>
										<div clas="row setMargin">
											<div class="col-md-6 meetingRoomNumber">Meeting Number 6</div>
											<div class="col-md-6 meetingTime">6.30PM</div>
										</div>

										<div class="col-md-12 meetingDetail setMargin">This is tesing meetig please joint the meeting</div>
									</div>
									<div class="meetingList well row customeComponent">
										<div class="meetingName col-md-12 setMargin">Support</div>
										<div clas="row setMargin">
											<div class="col-md-6 meetingRoomNumber">Meeting Number 6</div>
											<div class="col-md-6 meetingTime">6.30PM</div>
										</div>

										<div class="col-md-12 meetingDetail setMargin">This is tesing meetig please joint the meeting</div>
									</div>

								<!--<div class="meetingLsit well row customeComponent">-->
									<!--<div class="meetingName col-md-12 setMargin">Few update on the new assigment</div>-->
									<!--<div clas="row setMargin">-->
										<!--<div class="col-md-6 meetingRoomNumber">9720901212</div>-->
										<!--<div class="col-md-6 meetingTime">5.30PM</div>-->
									<!--</div>-->

									<!--<div class="col-md-12 meetingDetail setMargin">This meeting about the new poject what we need to do next yeaar</div>-->
								<!--</div>-->

							</div>
					</div>
						<!-- End of Meeting  -->
						<div class="col-md-6">
							<h3 class="heading">Today Task</h3>
							<div class="taskLayout ">
								<div class="takList well row red customeComponent">
									<div class="taskName col-md-8">High important</div>
									<div class="col-md-4"><button class="btn-danger">completed </button></div>
									<!-- <div class="col-md-4"><button class="btn-info">Complited </button></div> -->
									<!-- <div class="col-md-4"><button class="btn-success">Complited </button></div> -->
									<div class="taskDetail col-md-12">This is high priority Work </div>

								</div>
								<div class="takList well row blue customeComponent">
									<div class="taskName col-md-8">Medium importance</div>
									<!-- <div class="col-md-4"><button class="btn-danger">Complited </button></div> -->
									<div class="col-md-4"><button class="btn-info">completed </button></div>
									<!-- <div class="col-md-4"><button class="btn-success">Complited </button></div> -->
									<div class="taskDetail col-md-12">This is medium priority work</div>

								</div>
								<div class="takList well row green customeComponent">
									<div class="taskName col-md-8">Low Imporance</div>
									<!-- <div class="col-md-4"><button class="btn-danger">Complited </button></div> -->
									<!-- <div class="col-md-4"><button class="btn-info">Complited </button></div> -->
									<div class="col-md-4"><button class="btn-success">completed </button></div>
									<div class="taskDetail col-md-12">This is low priority work</div>

								</div>
							</div>
						</div>
						<!-- End of Task -->
					</div>
			</div>
			<!-- End of container -->
		</article>