<article id="taskDeatilPage" class="fullsize page">
			<div  class="container">
				<div class="row well customeComponent">
					<h2 class="pageHeading">Query the Meeting</h2>
					<div class="form-group">
						<label for="taskList">Task List</label>
						<div class="row">
						 <div class="col-md-6"><input type="text" class="form-control" id="taskList" placeholder="Enter Task Date" name="taskList"></div>
						 <div class="col-md-6"><button type="submit" class="btn btn-default">Show Task</button></div>
					 </div>

					</div>
					<div class="form-group showTaskList table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<td>Task Namer</td>
									<td>Task detail</td>
									<td>Task Priority</td>
									<td>Task Date</td>
							 </tr>
							</thead>
							<tbody>
								<tr>
									<td>High important</td>
									<td>This is high priority Work </td>
									<td>High</td>
									<td>6/14/2017</td>
								</tr>
							</tbody>

						</table>

					</div>
				</div>
			</div>
		</article>